<!-- <p-card>
    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">
        <div class="p-field">
          <label for="firstName">First Name1</label>
          <input id="firstName" type="text" pInputText formControlName="firstName" />
          <small *ngIf="editUserForm.controls['firstName'].invalid && editUserForm.controls['firstName'].touched" class="p-error">
            First Name is required.
          </small>
        </div>
  
        <div class="p-field">
          <label for="lastName">Last Name</label>
          <input id="lastName" type="text" pInputText formControlName="lastName" />
          <small *ngIf="editUserForm.controls['lastName'].invalid && editUserForm.controls['lastName'].touched" class="p-error">
            Last Name is required.
          </small>
        </div>
  
        <div class="p-field">
          <label for="email">Email</label>
          <input id="email" type="email" pInputText formControlName="email" />
          <small *ngIf="editUserForm.controls['email'].invalid && editUserForm.controls['email'].touched" class="p-error">
            Enter a valid email address.
          </small>
        </div>
  
        <div class="p-field">
          <label for="phone">Phone</label>
          <input id="phone" type="text" pInputText formControlName="phone" />
          <small *ngIf="editUserForm.controls['phone'].invalid && editUserForm.controls['phone'].touched" class="p-error">
            Enter a valid 10-digit phone number.
          </small>
        </div>
  
        <div class="p-field">
          <label for="address">Address</label>
          <textarea id="address" pInputTextarea formControlName="address"></textarea>
          <small *ngIf="editUserForm.controls['address'].invalid && editUserForm.controls['address'].touched" class="p-error">
            Address is required.
          </small>
        </div>
  
        <div class="p-field">
          <button pButton type="submit" label="Save" class="p-button-success"></button>
        </div>
      </div>
    </form>
  </p-card>
   -->